In [27]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))

if module_path not in sys.path:
    sys.path.append(module_path+"/my_utils")
#from util_minio import MinioHandler
    
from util_minio import MinioHandler
minio_handle = MinioHandler()
df = minio_handle.download_to_dataframe('tiki','raw/raw_116532_1711993659.csv')
df.head(2)

,tiki_pid,sku,name,url_key,url_path,price,discount,discount_rate,rating_average,review_count,...,category_l3_name,seller_type,is_imported,is_normal_delivery,video_url,fastest_delivery_time,earliest_delivery_estimate,order_route,ingestion_dt_unix,ingestion_date
0,270851667,8398718337298,Mặt nạ giấy dưỡng da Hàn Quốc innisfree My Rea...,mat-na-giay-duong-da-han-quoc-innisfree-my-rea...,mat-na-giay-duong-da-han-quoc-innisfree-my-rea...,22000,5000,19,5.0,20,...,NaN,OFFICIAL_STORE,True,NaN,NaN,NaN,NaN,NaN,1711993659,2024-04-01
1,252608882,4825599512084,Tã/bỉm quần HUGGIES SKINCARE MEGA JUMBO size X...,thung-ta-bim-quan-huggies-skincare-mega-jumbo-...,thung-ta-bim-quan-huggies-skincare-mega-jumbo-...,365000,280750,43,4.8,329,...,NaN,OFFICIAL_STORE,False,False,NaN,NaN,NaN,NaN,1711993659,2024-04-01

In [28]:
cols_dim_product = ["tiki_pid","name","brand_name","origin",'ingestion_date','ingestion_dt_unix']
df_dim_product = df[cols_dim_product]
df_dim_product.head(2)

,tiki_pid,name,brand_name,origin,ingestion_date,ingestion_dt_unix
0,270851667,Mặt nạ giấy dưỡng da Hàn Quốc innisfree My Rea...,Innisfree,Hàn Quốc,2024-04-01,1711993659
1,252608882,Tã/bỉm quần HUGGIES SKINCARE MEGA JUMBO size X...,Huggies,Việt Nam,2024-04-01,1711993659

In [29]:
dict_storage_options = {'endpoint_url':'http://localhost:9000',
                        'key':'minioadmin',
                        'secret':12345678}

df_dim_product.to_parquet('s3://tiki/curated/dim_product',storage_options=dict_storage_options,partition_cols=['ingestion_date'])