In [ ]:
# Define the table name
table_name = 'dim_product'
parquet_path = 's3://tiki/curated/dim_product/ingestion_date=2024-05-18'

In [1]:
import pandas as pd
from sqlalchemy import create_engine
import pandas as pd

In [2]:
dict_storage_options = {'endpoint_url':'http://localhost:9000',
                        'key':'minioadmin',
                        'secret':12345678}

# Change date to current date
parquet_df = pd.read_parquet(parquet_path, storage_options=dict_storage_options) 
parquet_df.head(2)

,tiki_pid,name,brand_name,origin,ingestion_dt_unix
0,200629270,[Tặng Bộ 3 ly thủy tinh cao cấp NESCAFE] Combo...,NESCAFÉ,Việt Nam,1716026146
1,195357772,Máy Tính CASIO FX-880BTG - Màu Đen,Casio,Thái Lan,1716026146

In [3]:

# Find the row with the maximum 'ingestion_dt_unix'
latest_row = parquet_df.loc[parquet_df['ingestion_dt_unix'].idxmax()]

# Filter DataFrame to get the latest data
df_latest_parquet = parquet_df[parquet_df['ingestion_dt_unix'] == latest_row['ingestion_dt_unix']]

# Define PostgreSQL connection parameters
postgres_username = 'my_user'
postgres_password = 'my_password'
postgres_host = 'localhost'
postgres_port = '35432'
postgres_db = 'dw_tiki'

# Create SQLAlchemy engine
engine = create_engine(f'postgresql://{postgres_username}:{postgres_password}@{postgres_host}:{postgres_port}/{postgres_db}')

# Write the latest data to PostgreSQL
df_latest_parquet.to_sql(table_name, engine, if_exists='replace', index=False)

# Display the latest data
print(df_latest_parquet)

      tiki_pid                                               name brand_name  \
0    200629270  [Tặng Bộ 3 ly thủy tinh cao cấp NESCAFE] Combo...    NESCAFÉ
1    195357772                 Máy Tính CASIO FX-880BTG - Màu Đen      Casio
2    195109412  Bộ nồi Inox dập nguyên khối Elmich Trimax Clas...     Elmich
3    193570411  Nồi áp suất Elmich PCE-1805 dung tích 2.5L - H...     Elmich
4    186118365  Sữa bột Vinamilk Dielac Alpha Gold 2 800g (cho...   Vinamilk
..         ...                                                ...        ...
124    1453915  Ly Giữ Nhiệt Bằng Thép Không Gỉ Lock&Lock Clip...  LocknLock
125    1672157  Bao cao su Durex Invisible Extra Thin Extra Se...      Durex
126     897016  Combo Sân Chơi Trí Tuệ Của Chim Đa Đa (Bộ 6 Cuốn)       None
127     579962  Bộ Nồi 5 Đáy Cao Cấp Núm Vàng Sunhouse SH781 Q...   Sunhouse
128     414764  Lò Vi Sóng Sharp R-205VN(S) - 20L - Hàng chính...      Sharp

         origin  ingestion_dt_unix
0      Việt Nam         1716026146
1      Thái Lan         1716026146
2    Trung Quốc         1716026146
3    Trung Quốc         1716026146
4      Việt Nam         1716026146
..          ...                ...
124  Trung Quốc         1716026146
125  Trung Quốc         1716026146
126        None         1716026146
127    Việt Nam         1716026146
128  Trung Quốc         1716026146

[129 rows x 5 columns]